<div class="book_form">
  <%= form_for(@book) do |f| %>
    <% if @book.errors.any? %>
      <div class="error_explanation">
        <h3><%= pluralize(@book.errors.count, "error") %> prohibited this submission:</h3>

        <ul>
        <% @book.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title, value: @book.title %>
    </div>

    Author
    <%= f.fields_for :author do |author_form| %>
      <div class="field">
        <%= author_form.label :first_name %><br />
        <%= author_form.text_field :first_name, value: @book.author.first_name %>
      </div>

      <div class="field">
        <%= author_form.label :middle_name %><br />
        <%= author_form.text_field :middle_name, value: @book.author.middle_name %>
      </div>

      <div class="field">
        <%= author_form.label :last_name %><br />
        <%= author_form.text_field :last_name, value: @book.author.last_name %>
      </div>

      <div class="field">
        <%= author_form.label :suffix %><br />
        <%= author_form.text_field :suffix, value: @book.author.suffix %>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :year, 'Publication year' %><br />
      <%= f.text_field :year, value: @book.year %>
    </div>

    <div class="field">
      <%= f.label :genre %><br />
      <%= f.select(:genre, Book::GENRES, { prompt: 'Select an option'}) %>
    </div>

    <div class="field">
      <%= f.label :synopsis %><br />
      <%= f.text_area :synopsis, value: @book.synopsis, size: "60x12" %>
    </div>

    <div class="field">
      <%= f.label :image %><br />
      <%= f.file_field :image, value: @book.image %>
      <% if f.object.image? %>
        <%= image_tag f.object.image.thumb.url %>
        <%= f.label :remove_image %>
        <%= f.check_box :remove_image %>
      <% end %>
    </div>

    <div class="actions">
      <%= f.submit "Submit" %>
    </div>
  <% end %>
</div>
