<div class="grid-container">
  <div class="grid-x">
    <div class="book_details large-6 cell">
      <%= render 'books/details' %>

      <div class="large button-group">
        <% if current_user&.id == @book.user_id || current_user&.admin? %>
          <%= link_to 'Edit', edit_book_path(@book), class: 'clear button' %>
          <%= link_to 'Delete', book_path(@book), method: :delete, class: 'clear button' %>
        <% end %>
      </div>
    </div>

    <div class="post_review large-6 cell">
      <% if user_signed_in? %>
        <div class="post_review callout">
          <h1 class="h3">Post a Review</h1>
          <p>Use the form below to submit a review of this book</p>
          <%= render 'reviews/form' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<hr>

<div class="view_reviews grid-container">
  <h1 class="h2">Reviews</h1>
  <ul class="no-bullet">
    <% @reviews.each do |review| %>
      <li class="review grid-container">
        <div class="grid-x text-center">
          <div class="votes large-1 medium-2 cell">
            <div class="upvote_form">
              <%= form_for [review, @vote] do |f| %>
                <%= f.hidden_field :review_id, value: review.id %>
                <%= f.hidden_field :upvote, value: true %>
                <%= f.submit "Upvote", class: "#{review.user_vote(current_user).set_div_class(current_user, true)}", id: "#{review.id}" %>
              <% end %>
            </div>

            <div class="net_votes_<%= review.id %>">
              <%= review.net_upvotes %>
            </div>

            <div class="downvote_form">
              <%= form_for [review, @vote] do |f| %>
                <%= f.hidden_field :review_id, value: review.id %>
                <%= f.hidden_field :upvote, value: false %>
                <%= f.submit "Downvote", class: "#{review.user_vote(current_user).set_div_class(current_user, false)}", id: "#{review.id}" %>
              <% end %>
            </div>
          </div>

          <div class="callout secondary large-8 medium-8 cell grid-container">
            <div class="grid-x">
              <div class="user_info large-2 medium-2 cell">
                <%= image_tag review.user.avatar.thumb.url if review.user.avatar.file %>
                <p><%= review.user.username %></p>
              </div>

              <div class="review_info large-10 medium-10 cell text-left">
                <h2 class="h4"><%= review.rating %> out of 10</h2>
                <h2 class="h4"><%= review.title %></h2>
                <p><%= review.body %></p>
                <p><small>Posted <%= review.display_time %></small></p>
                <div class="button-group align-right">
                  <% if current_user&.id == @book.user_id || current_user&.admin? %>
                    <%= link_to 'Edit', edit_book_review_path(@book, review), class: 'clear button' %>
                    <%= link_to 'Delete', book_review_path(@book, review), method: :delete, class: 'clear button' %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
