<div class="book_details">
  <h2><%= @book.title %></h2>

  <%= image_tag @book.image.cover.url  if @book.image.file %>

  <h4>Author: <%= @book.author.full_name %></h4>
  <h4>Publication Year: <%= @book.year %></h4>
  <h4>Genre: <%= @book.genre %></h4>
  <h4>Synopsis: <%= @book.synopsis %></h4>

  <ul>
    <% if current_user&.id == @book.user_id || current_user&.admin? %>
      <li><%= link_to 'Edit', edit_book_path(@book) %></li>
      <li><%= link_to 'Delete', book_path(@book), method: :delete %></li>
    <% end %>
  </ul>
</div>

<% if user_signed_in? %>
  <div class="post_review">
    <h2>Post a Review</h2>
    <p>Use the form below to submit a review of this book.</p>

    <%= render 'reviews/form' %>

  </div>
<% end %>


<div class="reviews">
  <h2>Reviews</h2>
  <ul>
    <% @reviews.each do |review| %>
      <div class="review">
        <li>
          <%= image_tag review.user.avatar.thumb.url if review.user.avatar.file %>
          <p><%= review.user.username %></p>
          <h3><%= review.rating %> out of 10</h3>
          <h4><%= review.title %></h4>
          <p><%= review.body %></p>
          <p>Posted review at <%= review.created_at %></p>

          <% if current_user&.id == @book.user_id || current_user&.admin? %>
            <%= link_to 'Edit', edit_book_review_path(@book, review) %>
            <%= link_to 'Delete', book_review_path(@book, review), method: :delete %>
          <% end %>
        </li>
      </div>
    <% end %>
  </ul>
</div>
