<div class="book_details">
  <h2><%= @book.title %></h2>

  <%= @book.image_url %>

  <h4>Author: <%= @book.author %></h4>
  <h4>Publication Year: <%= @book.year %></h4>
  <h4>Genre: <%= @book.genre %></h4>
  <h4>Synopsis: <%= @book.synopsis %></h4>

  <ul>
    <% if user_signed_in? && current_user.id == @book.user_id %>
      <li><%= link_to 'Edit', edit_book_path(@book) %></li>
      <li><%= link_to 'Delete', book_path(@book), method: :delete %></li>
    <% end %>
  </ul>
</div>

<% if user_signed_in? %>
  <div class="post_review">
    <h2>Post a Review</h2>
    <p>Use the form below to submit a review of this book.</p>

    <%= render 'reviews/form' %>

  </div>
<% end %>


<div class="reviews">
  <h2>Reviews</h2>
  <ul>
    <% @reviews.each do |review| %>
      <div class="review">
        <li>
          <h3><%= review.rating %> out of 10</h3>
          <h4><%= review.title %></h4>
          <p><%= review.body %></p>

          <% if user_signed_in? && current_user.id == review.user_id %>
            <%= link_to 'Edit', edit_book_review_path(@book, review) %>
          <% end %>
        </li>
      </div>
    <% end %>
  </ul>
</div>
