<h2>Users</h2>

<div class="users">
  <ul>
    <% @users.each do |user| %>
      <div class="user">
        <li>
          <% if user.avatar.file %>
            <%= image_tag user.avatar.thumb.url %>
          <% end %>

          <%= user.display_name %>
          <%= user.username %>
          <%= user.email %>
          <%= link_to 'Delete', admin_user_path(user), method: :delete %>
        </li>
      </div>
    <% end %>
  </ul>
</div>
