<div class="review_form">
  <%= form_for [@book, @review] do |f| %>
    <% if @review.errors.any? %>
      <div class="error_explanation callout alert">
        <h2 class="h3"><%= pluralize(@review.errors.count, "error") %> prohibited this submission:</h2>
        <ul class="error-list">
        <% @review.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="grid-container">
      <div class="grid-x">
        <div class="large-4 cell">
          <%= f.label :rating %>
          <%= f.select(:rating, (1..10).to_a, { include_blank: 'Select Rating'}) %>
          <p><small>(10 is the best)</small></p>
        </div>
      </div>
    </div>

    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="large-12 cell">
          <%= f.label :title %>
          <%= f.text_field :title, value: @review.title %>
        </div>
      </div>
    </div>

    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="large-12 cell">
          <%= f.label :body %>
          <%= f.text_area :body, value: @review.body, size: "12x6" %>
        </div>
      </div>
    </div>

    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="actions cell">
          <%= f.submit "Submit", class: "button float-right" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
